img{
    border-radius: 500px;
    height: 5em;
}
span{
    color: #FFFAFB;
}
div.profile-container{
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
}
div.profile-info{
    flex: 1;
    padding-left: 15px;
    display: flex;
    align-self: center;
    flex-direction: column;
}
div.Profile-container-right{
    text-align: right;
}
span.precentage{
    color: green;
    font-size: 3em;
}
