@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto+Slab|Rubik');

body {
  background: #2E294E;
  padding: 100px 0 0 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #7ADCF2;
}

.centered {
  text-align: center;
}
